<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolefsy.project_timer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >



        <activity android:name=".Timer"
            android:launchMode= "singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="false" />


        <!-- ****** android:launchMode="singleInstance" makes the activity run without the main activity ****-->
        <activity
            android:name=".PopUpWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pop_up_window"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".To_do"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"/>


    </application>

</manifest>